@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: -2px;
  margin-top: 12px;
  padding: 1px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 10px 50px;
  background: rgb(165, 211, 222);
  color: rgb(19, 18, 21);
}
h1 {
  color: #e739b8;
}
h2 {
  color: #e739b8;
}
h3 {
  color: rgb(51, 23, 131);
}
.name1 {
  font-size: 20px;
}
.name1 input {
  border: 2px solid rgb(37, 39, 37);
  background-color: lavender;
  border-radius: 4px;
  font-size: 15px;
  margin: 14px;
}

.email1 {
  font-size: 20px;
}
.email1 input {
  border: 2px solid rgb(37, 39, 37);
  background-color: lavender;
  border-radius: 4px;
  font-size: 15px;
  margin: 14px;
}

.password1 {
  font-size: 20px;
}
.password1 input {
  border: 2px solid rgb(37, 39, 37);
  background-color: lavender;
  border-radius: 4px;
  font-size: 15px;
  margin: 14px;
}

button {
  padding: 12px 21px;
  background-color: #fb59f0;
  color: #0e0d0d;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  outline: none;
}

button:hover {
  cursor: pointer;
}
.display{
    color: rgb(8, 8, 179);
    font-weight: 900;
}

@media only screen and (max-width: 450px) {
    .signup {
      width: 70%;
      margin: auto;
    }
  }
  
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    body {
      overflow-y: scroll;
    }
  
    .signup{
      width: 70%;
      margin: auto;
    }
  }
